
:root{
    // colors
    --main-bg: #14151a;
    --offset-bg: #17181d;
    --border-color: #202127;

    // sizes
    --i-font-size: 1.2rem;
    --sidebar-width: 800px;
    --header-height: 50px;
}

