
:root{
    // colors
    --main-bg: #14151a;
    --offset-bg: #17181d;
    --border-color: #202127;
    --text-color: #fff;
    --text-blue: #3297ed;


    // sizes
    --i-font-size: 1.2rem;
    --sidebar-width: 170px;
    --header-height: 50px;
}

