<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WUT ??</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="/img/404.gif" alt="404" width="50%">
        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">you probably ended up here by mistake and NO, this is not a hint</p>
    </div>
</body>
</html>