<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cows And Bulls</title>
    <link rel="stylesheet" href="/stylesheets/cows-and-bulls.css">
</head>
<body>
    <div class="container">
        <p class="error"></p>
        <h2>Cows & Bulls</h2>
        <h4>Tries : <%= numTries %></h4>
        <form action="/cows-and-bulls" method="POST" id="main-submit">
            <input type="text" placeholder="1234" name="userTry" id="userTry" required>
            <input type="submit" value="Check">
        </form>
        <table id="display-table">
            <tr>
                <td>Your Try</td>
                <td>Cows</td>
                <td>Bulls</td>
            </tr>
            <% allTries.forEach(attempt => {%>
                <tr>
                    <td><%= attempt.uTry %></td>
                    <td><%= attempt.cows %></td>
                    <td><%= attempt.bulls %></td>
                </tr>
            <%}) %>
        </table>
    </div>
    <script src="/js/cows-and-bulls.js"></script>
</body>
</html>