<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF_KH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="/" class="main-link">CTF_KH</a></h1>
            <i class="fas fa-exclamation-circle"></i>
        </header>

        <main>
            <section id="level-count">
                <h3>Level 2</h3>
            </section>
            <section id="level-riddle" class="spacer">
                <table>
                    <tr>
                        <td>Th</td>
                        <td>I</td>
                        <td>S</td>
                        <td>I</td>
                        <td>S</td>
                        <td>Ni</td>
                        <td>Ce</td>
                    </tr>
                </table>
                <p>🤷‍♂️ I wonder what this message means, I'll be waiting for your response</p>
            </section>
            <section id="level-submit" class="spacer">
                <form action="inc8idunt6" method="POST">
                    <label>
                        <input type="text" placeholder="CTF[keyInHere]" name="key" required>
                        <button>
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </label>
                </form>
            </section>
        </main>
        <!-- end of container -->
    </div>
    
</body>
</html>