<%- include("partials/header") %>
        <section id="help-dialog">
            <div id="help-header">
                <h4>Hint</h4>
                <span id="help-exit-button">&times;</span>
            </div>
            <p>Chemical elements</p>
        </section>
        <div id="overlay"></div>
        <main>
            <section id="level-count">
                <h3>Level 2</h3>
            </section>
            <section id="level-riddle" class="spacer">
                <table>
                    <tr>
                        <td>Th</td>
                        <td>I</td>
                        <td>S</td>
                        <td>I</td>
                        <td>S</td>
                        <td>Ni</td>
                        <td>Ce</td>
                    </tr>
                </table>
                <p>🤷‍♂️ I wonder what this message means, I'll be waiting for your response</p>
            </section>
            <section id="level-submit" class="spacer">
                <form action="inc8idunt6" method="POST">
                    <label>
                        <input type="text" placeholder="CTF[keyInHere]" name="key" required>
                        <button>
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </label>
                </form>
            </section>
        </main>
<%- include("partials/footer") %>