<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF_KH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <div class="container">
        <header>
            <h1>CTF_KH</h1>
        </header>
        <main>
            <p>A simple capture the flag game made by <a href="https://aymkh.tn">AymKh</a></p>
            <p>Please note that this CTF, unlike others, does not require any skills.</p>
            <p>A 10 year-old can play this and win, it's easy, simple & short</p>
            <br>
            <p>When in doudbt make sure to send a message requesting a hint. You only have the right to do that 3 times though, so don't waste your hints on easy challenges.</p>
        </main>
    
    <a href="/9dolor3">Level 01</a>
    </div>
</body>
</html>
