<%- include("partials/header") %>
        <section id="help-dialog">
            <div id="help-header">
                <h4>Hint</h4>
                <span id="help-exit-button">&times;</span>
            </div>
            <p>The text seems to be encoded. A sequence of dots and dashes...</p>
        </section>
        <div id="overlay"></div>
        <main>
            <section id="level-count">
                <h3>Level 5</h3>
            </section>
            <section id="level-riddle" class="spacer">
                <p>visit this <a href="https://www.facebook.com/UQ6rHtT/" target="_blank">facebook profile</a>, something there might catch your attention.</p>
            </section>
            <section id="level-submit" class="spacer">
                <form action="opt8io0" method="POST">
                    <label>
                        <input type="text" placeholder="CTF[keyInHere]" name="key" required>
                        <button>
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </label>
                </form>
            </section>
        </main>
<%- include("partials/footer") %>