<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF_KH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="/" class="main-link">CTF_KH</a></h1>
            <i class="fas fa-exclamation-circle" id="help-button"></i>
        </header>
        <section id="help-dialog">
            <div id="help-header">
                <h4>Hint</h4>
                <span id="help-exit-button">X</span>
            </div>
            <p>The text seems to be encoded. a sequence of dots and dashes...</p>
        </section>
        <div id="overlay"></div>
        <main>
            <section id="level-count">
                <h3>Level 5</h3>
            </section>
            <section id="level-riddle" class="spacer">
                <p>visit this <a href="https://www.facebook.com/UQ6rHtT/" target="_blank">facebook profile</a>, something there might catch your attention.</p>
            </section>
            <section id="level-submit" class="spacer">
                <form action="opt8io0" method="POST">
                    <label>
                        <input type="text" placeholder="CTF[keyInHere]" name="key" required>
                        <button>
                            <i class="far fa-paper-plane"></i>
                        </button>
                    </label>
                </form>
            </section>
        </main>
        <!-- end of container -->
    </div>
    <script src="/js/help-button.js"></script>
</body>
</html>