<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Router Login</title>
    <link rel="stylesheet" href="/stylesheets/router-login.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="/img/huaweiLogo.png" alt="logo" width="100px">
            <h1>Login Gateway</h1>
        </header>
        <form action="/router-login-huawei" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>